@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color:#4c4c4c;
  overflow: hidden;
}

a{
  color:#7791F9;
}

img{
  max-width: 100%;
  height: auto;
}