.editor-wrapper{
  display: flex;
}

.editor{
  display: flex;
  flex-direction: column;
  height:100vh;
  flex:1;
}
.editor__head{
  /* TextNodeEdit depends on this height */
  height: 68px;
  border-bottom: 1px solid #dbdce0;

  padding: 0 5px;
}
.editor__body{
  flex:1;
  position: relative;
}
.editor__body .react-contextmenu-wrapper {
  height:100%;
  width: 100%;
}

.sidebar{
  flex-basis:400px;
  border-left:1px solid #DCDCCB;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: #fff;
}

.sidebar__head{
  height:68px;
  display: flex;
  align-items: center;
  padding-left:24px;
}
.sidebar__body{
  flex:1;
  padding:10px 30px;
  font-size: 18px;
  line-height: 1.4;
  overflow-y: overlay;
  white-space: pre-wrap;
}
.sidebar__footer{
  padding:5px;
  font-size: 14px;
  color:#999;
  text-align: right;
}

.mobile-zoom{display:none;}

@media (max-width:768px){
  .editor-wrapper{
    display: block;
  }
  .editor{
    width:100vw;
    height:65vh;
  }
  .sidebar{
    height: 35vh;
    border-left:none;
  }
  .sidebar__body{
    font-size: 16px;
  }

  .mobile-zoom{
    display:block;
    position: absolute;
    bottom:15px;
    right:15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  .mobile-zoom__plus,.mobile-zoom__minus{
    width:50px;
    height:50px;
    font-size:30px;
    color:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-zoom__plus{
    border-bottom:1px solid #eee;
  }
}

/* Editor toolbar */

.editor-toolbar{
  display: flex;
  padding:0 10px;
  height: 100%;
}
.editor-toolbar__logo, .editor-toolbar__left, .editor-toolbar__right{
  height:100%;
  display: flex;
  align-items: center;
}
.editor-toolbar__logo{
  margin-right:12px;
  color:var(--primary);
}
.editor-toolbar__left{
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.editor-toolbar__right{
  margin-left:auto;

}
.editor-toolbar__right > *{
  margin-left:10px;
}
.editor-toolbar__title{
  padding-left:6px; /* visually align with menu */
  padding-right:2em;
  padding-top:6px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color:var(--primary);
}
.editor-toolbar__menu{
  
  padding-top:3px
}


.editor-toolbar button:active{
  border-color: #7fa4ca;
}

.editor-toolbar__separator{
  width:1px;
  background-color: #d7e2ee;
  height:100%;
  margin-right: 0.6em;
}





/* Editor menu */
.editor-menu{
  display: flex;
}
.editor-menu__item{
  padding:4px 6px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.editor-menu__item:hover{
  background-color: var(--grey-lightest);
}
.editor-menu__menu-separator{
  background-color: #ddd;
  height:1px;
  margin-top:5px;
  margin-bottom:5px;
}

.editor-menu__menu{
  display: none;
  min-width: 200px;
  position: absolute;
  top:22px;
  left:0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.173);
  padding:10px 0;
}
.editor-menu--active .editor-menu__item:hover .editor-menu__menu{
  display: block;
}
.editor-menu__menu-item{
  padding:8px 10px 8px 10px;
  cursor: default;
  display: flex;
  cursor: pointer;
  
}
.editor-menu__menu-item:hover{
  background-color:var(--grey-lightest);
}

.editor-menu-item{
  display: flex;
  flex:1;
}
.editor-menu-item__icon{
  flex-basis: 1em;
  margin-right:10px;
}
.editor-menu-item__label{
  flex-grow:1;
}





/* TextNode edit */
.text-node-edit-overlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.text-node-edit{
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  border:4px solid #65a8f0;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: scroll;
}

.text-node-edit__line{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  padding:4px 6px;
}
.text-node-edit--multi .text-node-edit__line{
  border-bottom:4px solid #65a8f0;
}
.text-node-edit--multi .text-node-edit__line:last-child{
  border-bottom: none;
}

.text-node-edit__textarea{
  width: 100%;
  resize: none;
  font-size: 20px;
  height:100%;
  text-align: center;
  font-family: 'Open Sans';
  border:none;
  line-height: 1;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  padding:0;
}
.text-node-edit__textarea--single-line{
  height: 23px;
  margin-top:2px
}



.red-dot{
  position: absolute;
  top:-5px;
  right:-5px;
  width:12px;
  height:12px;
  background-color: red;
  border-radius: 100%;
}