.form input{
  width:100%;
  padding:10px 15px;
  border: 1px solid #d7e2ee;
  font-size:20px;
  border-radius: 3px;
  outline: none;
}
.form input:focus{
  border-color: #7791F9;
}

.form label{
  font-size:14px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  
  color:#788390;
}

.form .form__field{
  margin-bottom:30px;
}

.btn{
  border:none;
  padding: 0.6em 1.6em;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;

  border:1px solid #7791F9;
  color:#7791F9;
  text-decoration: none;
}
.btn:active, .btn:focus{
  outline:none;
}
.btn.btn--primary{
  background-color: #7791F9;
  color:#FFF;  
}
.btn--large{
  font-size: 18px;
}
.btn--link{
  border:none;
  color:#7791F9;
  text-decoration: underline;
  padding:0;
}

.btn+.btn{
  margin-left:10px
}